container_commands:
  01_create_upload_dir:
    command: "mkdir -p /var/app/current/uploads/"
    test: "test ! -d /var/app/current/uploads/"
  02_chown_upload_dir:
    command: "chown webapp:webapp /var/app/current/uploads/"
  03_chmod_upload_dir:
    command: "chmod 755 /var/app/current/uploads/"

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: FILE_UPLOAD_DIR
    value: "/var/app/current/uploads/"